export GOPATH=~/go
export PATH="/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:$GOPATH/bin:$(ruby -e 'print Gem.user_dir')/bin"
lxqt-policykit-agent &
